<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Dependencies -->
  <link rel="stylesheet" href="/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/shards.min.css">
</head>

<body>
  <h1>Hello, world!</h1>

  <!-- Optional JavaScript -->
  <!-- JavaScript Dependencies: jQuery, Popper.js, Bootstrap JS, Shards JS -->
  <script src="/lib/jquery-3.2.1.slim.min.js"></script>
  <script src="/lib/popper.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
  <script src="/lib/shards.min.js"></script>
</body>

</html>